.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF;
    justify-content: start;
    text-align: center;
    padding: 10px 30px;
    width: 20vw;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px black;
    margin: 20px auto 0 auto;
}

input,
select {
    height: 30px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
}

input:hover,
select:hover {
    border: 2px solid #93ac19;
    transition: all 0.5s linear;
}

select:hover,
option:hover,
input:hover {
    background-color: beige;
}

.part-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.form-ctn {
    margin: 5px 0;
}

.adress {
    width: 100%;
    padding: 15px 0;
    /* border: 2px solid black; */
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
    /* box-shadow: 5px 5px black; */
    margin: 20px 0;
}

.modal-btn {
    padding: 5px 30px;
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px black;
    background-color: #93ac19;
    margin: 10px 0;
    font-weight: bold;
    font-size: 15px;
}

.modal-btn:hover {
    background-color: #6f8711;
    transition: all 0.5s linear;
}

.modal {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
    background-color: #FFF;
    opacity: 0.9;
    border: 1px solid black;
    padding: 40px;
    margin-top: 10%;
}

.close-btn-modal {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #93ac19;
    border: 2px solid black;
    box-shadow: 5px 5px black;
}