input {
    outline: 0px solid #000;
    background-color: #e2e2e2;
    outline-offset: 3px;
    min-height: 30px;
}

.horizontal {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.vertical {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}