.schedule_time {
    text-align: center;
    background-color: #6f8711;
    width: 100%;
    padding: 10px 0;
}

.headerv2 {
    display: flex;
    justify-content: end;
    padding: 20px 60px;
}

.title-down {
    display: flex;
    justify-content: end;
    padding: 20px 60px;
}

.title-down :nth-child(1) {
    color: #93ac19;
    font-size: 22px;
    height: 30px;
}

.title-down :nth-child(1):hover {
    color: #6f8711;
    /* font-weight: bold; */
    text-shadow: 1px 1px .5px #93ac19;
    font-size: 23px;
    transition: all 0.5s linear;
}

.name-page {
    text-align: center;
    padding: 10px 0;
    background-color: #93ac19;
    border-radius: 50px;
    border: none;
    width: 20%;
    margin: 0 auto;
    box-shadow: 2px 4px 7px -3px #93ac19;
}